body {

    background: linear-gradient(135deg, #fdfedf 0% #e2d1c3 100%);
    width: 50%;
    margin: 60px auto;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px 60px;
}

h1,h2 {
    text-align: center;
    font-style: italic;
}

p {
    font-style: oblique;
    font-size: large;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    line-height: 15px;
    border-radius: 30px;
}

button {
    display: block;
    margin: 20px auto;
    border: 1px solid #000;
    background: #fff7df;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 24px;
    border-radius: 30px;
    transition: all 200ms ease;
    box-shadow: rgba(37,39,89,0.08);
}

button:hover {
    cursor: pointer;
    background: #000;
    border: 1px solid #fdf7fd;
    color: #fdf7fd;
}

